.container {
  max-width: 1120px;
  margin: auto;
  padding: 20px;
}

.goBackLink {
  display: inline-block;
  margin-bottom: 20px;
  text-decoration: none;
  text-transform: lowercase;
  color: #6aa5e5;
}

.movieDetails {
  display: flex;
  padding-bottom: 40px;
}

.poster {
  width: 200px;
  height: auto;
  margin-right: 32px;
}

.info {
  max-width: 600px;
}

h1 {
  margin: 0;
  text-transform: uppercase;
}

p {
  margin: 10px 0;
  text-align: justify;
}
