.container {
  max-width: 1120px;
  margin: auto;
  padding: 20px;
}

.btnBack {
  margin-bottom: 20px;
  background-color: #0c0c0c;
  border: 2px solid rgba(255, 255, 255, 0.2);
  color: white;
  text-transform: lowercase;
  padding: 5px 15px;
  border-radius: 4px;
  cursor: pointer;
}

.btnBack:hover {
  color: #6aa5e5;
  border: 2px solid rgba(255, 255, 255, 0.158);
  transition: color 0.3s ease;
}

.movieDetails {
  display: flex;
  padding-bottom: 40px;
}

.notification {
  color: #6a81e5;
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
  margin-right: 15px;
  text-align: center;
}

.poster {
  width: 200px;
  height: auto;
  margin-right: 32px;
}

.info {
  max-width: 600px;
}

.text {
  text-align: center;
  text-transform: uppercase;
}

.linkList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.linkClass {
  text-transform: uppercase;
}

.linkClass:hover {
  color: #6aa5e5;
  transition: color 0.3s ease;
}

h1 {
  margin: 0;
  text-transform: uppercase;
}

p {
  margin: 10px 0;
  text-align: justify;
}

@media (max-width: 1024px) {
  .movieDetails {
    flex-direction: column;
    align-items: center;
  }

  .poster {
    width: 250px;
    margin-bottom: 20px;
  }

  .info h1 {
    font-size: 28px;
  }

  .info p {
    font-size: 16px;
  }

  .goBackLink {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 10px;
  }

  .movieDetails {
    flex-direction: column;
    align-items: center;
  }

  .poster {
    width: 200px;
  }

  .info h1 {
    font-size: 24px;
    text-align: center;
  }

  .info p {
    font-size: 14px;
  }

  .goBackLink {
    font-size: 12px;
    padding: 8px 16px;
  }
}
