.container {
  padding: 20px;
}

.title {
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.reviewList {
  list-style: none;
  padding: 0;
}

.reviewItem {
  margin-bottom: 15px;
  padding: 15px;
  background-color: #0c0c0c;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 4px;
}

.author {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
}

.content {
  font-size: 16px;
  color: #c2c3c9;
  text-align: justify;
}
