.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  color: #dbdbdf;
}

.nav {
  display: flex;
  gap: 20px;
  margin-bottom: 10px;
}

.link {
  text-decoration: none;
  color: #dbdbdf;
  font-size: 18px;
  text-transform: uppercase;
  transition: color 0.3s ease;
}

.link:hover,
.link.active {
  color: #6aa5e5;
}

.scrollBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  transition: background-color 0.3s ease;
  z-index: 1000;
}

.scrollBtn:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.reactIcon {
  font-size: 30px;
  color: #dbdbdf;
}

.reactIcon:hover {
  color: #6aa5e5;
}
