.container {
  padding: 20px;
  background-color: #0c0c0c;
  max-width: 1200px;
  border-radius: 8px;
  margin: auto;
}

.error {
  color: #f83e3e;
  font-size: 1.2em;
  text-align: center;
  margin-top: 20px;
}

.loadMoreBtnContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

@media (max-width: 1024px) {
  .container {
    padding: 15px;
    max-width: 900px;
  }

  .error {
    font-size: 1.1em;
    margin-top: 15px;
  }

  .loadMoreBtnContainer {
    margin-top: 15px;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 10px;
    max-width: 100%;
  }

  .error {
    font-size: 1em;
    margin-top: 10px;
  }

  .loadMoreBtnContainer {
    margin-top: 10px;
  }
}
