.movieList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: auto;
}

.movieItem {
  width: 200px;
}

.poster {
  width: 100%;
  height: auto;
}

.title {
  font-size: 12px;
  font-weight: normal;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 20px;
}
