.container {
  padding: 20px;
  margin: auto;
  max-width: 1120px;
}

h1 {
  text-transform: uppercase;
  margin-bottom: 20px;
}

@media (max-width: 1024px) {
  .container {
    padding: 15px;
    max-width: 900px;
  }

  h1 {
    font-size: 24px;
    margin-bottom: 15px;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 10px;
    max-width: 100%;
  }

  h1 {
    font-size: 20px;
    margin-bottom: 10px;
  }
}
